*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    
   --navBack: #4b4b4b;
   --spanClr: #ffb308;
 }


 .bgClr{
    background-color:  #F5F7FA !important;
 }
 .delevPara{
    font-weight:bold !important;
 }
 .phone{
   background-color: var(--spanClr);
   border-radius: 10px;
 }
  /* .whatspp{
   background-color: green !important;
   text-decoration: none;
  } */

.whatsappimg{
   height: 40px;
}
.navClr{
   background-color: var(--navBack) !important;
}
.inputField{
   border: none !important;
   outline: none !important;
   border-radius: 15px;
}
.inputField:focus{
   border: none !important;
   box-shadow: none !important;
   outline: none !important;
  
}
.searchIcon:hover{
cursor: pointer;
}
.searchDiv{
   background-color: transparent;
   /* border: 1px solid red; */
   border-radius: 15px;
}
.sliderimg{
   height: 450px;
   width: 100%;
}